server:
  port: 8080

spring:
  datasource:
    driver-class-name: org.sqlite.JDBC
    url: jdbc:sqlite:/data/lazycatapp.db
  jpa:
    show-sql: false

logging:
  level:
    root: INFO
    xyz.mxue.lazycatapp: INFO
    org.springframework.web: INFO
    okhttp3: ERROR
  file:
    name: /var/log/lazycatapp/lazycatapp.log
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
    file: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"